<div class="login-component-container">
  <section class="login-main-container">
    <h1>Sign in to</h1>
    <h1>Windows live <span>Messenger</span></h1>
    <div class="form-main-container">
      <div class="form-image-container">
        <img
          src="../../assets/img/user-profile-img-placeholder.png"
          alt="default profile image"
        />
      </div>
      <div class="form-inputs-container">
        <form>
          <input type="text" name="username" id="username" class="form-input" />
          <input
            type="password"
            name="password"
            id="password"
            class="form-input"
          />
          <a href="#">Can't sign in?</a>
          <div class="form-status-select-container">
            <label for="status-select">Sign in as:</label>
            <select>
              <option value="available">Available</option>
              <option value="away">Away</option>
              <option value="busy">Busy</option>
              <option value="offline">Offline</option>
            </select>
          </div>
          <div class="form-checkbox-container">
            <input
              type="checkbox"
              name="remember-pwd"
              id="remember-pwd"
            /><label for="remember-pwd">Remember my y ID and password</label>
          </div>
          <div class="form-checkbox-container">
            <input
              type="checkbox"
              name="sign-automatically"
              id="sign-automatically"
            /><label for="sign-automatically"
              >Remember my y ID and password</label
            >
          </div>
          <div class="form-buttons-container">
            <button class="form-sign-in-btn" type="button">Sign in</button>
            <button type="button">Cancel</button>
          </div>
          <p>Don't have Windows live ID? <a href="#">Sign up</a></p>
        </form>
      </div>
    </div>
  </section>
</div>
