.form-image-container {
  background-image: url("../../../assets/img/profile-img-online.png");
  width: 118px;
  height: 118px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  background-repeat: no-repeat;
  img {
    background: #fff;
    border-radius: 3px;
    width: 93px;
  }
}
