.form-image-container {
  width: 118px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  background-repeat: no-repeat;
  img {
    background: #fff;
    border-radius: 3px;
    width: 93px;
  }
}

.available {
  background-image: url("../../../assets/img/profile-img-online.png");
}
.busy {
  background-image: url("../../../assets/img/profile-img-busy.png");
}
.away {
  background-image: url("../../../assets/img/profile-img-away.png");
}
.offline {
  background-image: url("../../../assets/img/profile-img-default.png");
}
