<div class="user-item-main-container">
  <div class="user-item-container">
    <app-status-indicator [userStatus]="userStatus"></app-status-indicator>
    <!-- username - short status message -->
    <span>Programación en español - ¡Que tengas buen código!</span>
  </div>
  <div class="user-item-container">
    <app-status-indicator [userStatus]="'offline'"></app-status-indicator>
    <!-- username - short status message -->
    <span>Programación en español - ¡Que tengas buen código!</span>
  </div>
</div>
