<div class="home-global-container">
  <!-- HOME HEADER -->
  <div class="home-header-container">
    <img
      src="../../assets/img/user-profile-img-placeholder.png"
      alt="msn logo"
    />
    <p>Windows Live Messenger</p>
  </div>
  <!-- USER STATUS BAR -->
  <div class="home-user-status-container">
    <app-profile-picture></app-profile-picture>
    <div class="user-status-container">
      <div class="user-status">
        <p>Nombre de usuario</p>
        <select name="user-status" id="user-status">
          <option value="available">Available</option>
        </select>
      </div>
      <div class="user-quick-messages">
        <select name="user-quick-msg" id="user-quick-msg">
          <option value="quick-msg">Comparte un mensaje rápido</option>
        </select>
      </div>
    </div>
  </div>
  <!-- MAIN CHAT  -->
  <div class="main-chat-container"></div>
  <!-- CHAT FOOTER -->
  <div class="main-chat-footer"></div>
</div>
