.home-global-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  .home-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: #3bb2ea;
    border: 1px solid #9dd8f4;
    padding-left: 15px;
    gap: 10px;
    img {
      width: 30px;
    }
    p {
      color: #fff;
    }
  }
  .home-user-status-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .user-status-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    .user-status {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      padding-left: 5px;
    }
  }
  select {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  hr {
    border: 1px solid #ffffff90;
    width: 95%;
    border-radius: 100%;
    box-shadow: 0px 2px 5px 0px #63659f;
  }
  .toolbar-container {
    width: 100%;
    height: 30px;
    background: #fff;
    box-shadow: 0px 6px 3px 0px #ddd;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    .toolbar-ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0 10px;
      gap: 7px;
      li {
        img {
          width: 25px;
        }
      }
    }
  }
  .searchbar-container {
    width: 100%;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #7274a550;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    input {
      width: 94%;
      border: 1px solid #ccc;
      padding: 4px;
      box-shadow: inset 0px 0px 7px 0px #ccc;
    }
    img {
      width: 25px;
    }
  }
  .main-chat-container {
    height: 600px;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px 15px;
  }
  .main-chat-footer {
    background-color: #dbeff7;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    img {
      width: 300px;
    }
  }
  @media (max-width: 450px) {
    .home-user-status-container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      align-content: center;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
  .chat-modal-dialog-container {
    background: linear-gradient(
      180deg,
      #52c4f0 0%,
      #9bdef8 42%,
      #cdf1fb 79%,
      white 100%
    );
    background-repeat: no-repeat;
    min-height: 600px;
    min-width: 800px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0px;
    .chat-modal-toolbar {
      height: 30px;
      box-shadow: 0px 3px 16px 0px #00000073;
      margin-bottom: 12px;
    }
    .chat-modal-body {
      height: 600px;
      .chat-modal-container {
        display: grid;
        grid-template-columns: 20% 80%;
        height: -webkit-fill-available;
        height: 600px;
        .chat-conversation-container {
          display: flex;
          flex-direction: column;
          .chat-conversation {
            width: 100%;
            height: -webkit-fill-available;
          }
          .chat-form-container {
            width: 100%;
            height: -webkit-fill-available;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            form {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
              textarea {
                width: -webkit-fill-available;
                resize: unset;
                height: 50%;
              }
            }
          }
        }
      }
    }
    .chat-pictures-container {
      height: -webkit-fill-available;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }
  }
}
