<div class="home-global-container">
  <!-- HOME HEADER -->
  <div class="home-header-container">
    <img
      src="../../assets/img/user-profile-img-placeholder.png"
      alt="msn logo"
    />
    <p>Windows Live Messenger</p>
  </div>
  <!-- USER STATUS BAR -->
  <div class="home-user-status-container">
    <app-profile-picture [userStatus]="userStatus"></app-profile-picture>
    <div class="user-status-container">
      <div class="user-status">
        <p>Nombre de usuario</p>
        <select [(ngModel)]="userStatus" name="user-status" id="user-status">
          <option *ngFor="let status of statusOptions" [value]="status.value">
            {{ status.name }}
          </option>
        </select>
      </div>
      <div class="user-quick-messages">
        <select name="user-quick-msg" id="user-quick-msg">
          <option value="quick-msg">Comparte un mensaje rápido</option>
        </select>
      </div>
    </div>
  </div>
  <hr />
  <!-- TOOLBAR -->
  <div class="toolbar-container">
    <ul class="toolbar-ul">
      <li><img src="../../assets/img/mensajes.png" alt="msn messages" /></li>
      <li>
        <img src="../../assets/img/info-msn-toolbar.png" alt="msn info" />
      </li>
      <li><img src="../../assets/img/msn-cubes.png" alt="msn cubes" /></li>
    </ul>
    <ul class="toolbar-ul">
      <li><img src="../../assets/img/msn-pencil.png" alt="msn pencil" /></li>
      <li><img src="../../assets/img/msn-select.png" alt="msn select" /></li>
    </ul>
  </div>
  <!-- SEARCH BAR -->
  <div class="searchbar-container">
    <img src="assets/img/msn-users.webp" alt="msn users icon" />
    <input
      type="text"
      name="search-user"
      id="search-input"
      placeholder="Buscar en contactos o en web..."
    />
    <img src="assets/img/msn-add-user.png" alt="msn add user" />
  </div>
  <!-- MAIN CHAT  -->
  <div class="main-chat-container">
    <app-users-list [title]="'connected'" [isOpened]="true"></app-users-list>
    <app-users-list
      [title]="'disconnected'"
      [isOpened]="false"
    ></app-users-list>
  </div>
  <!-- CHAT FOOTER -->
  <div class="main-chat-footer">
    <img src="assets/img/msn-footer.png" alt="msn ad" />
  </div>
  <dialog open #chatModal class="chat-modal-dialog-container">
    <div class="chat-modal-toolbar"></div>
    <div class="chat-modal-body">
      <div class="chat-modal-container">
        <div class="chat-pictures-container">
          <app-profile-picture [userStatus]="userStatus"></app-profile-picture>
          <app-profile-picture [userStatus]="userStatus"></app-profile-picture>
        </div>
        <div class="chat-conversation-container">
          <div class="chat-conversation"></div>
          <div class="chat-form-container">
            <form>
              <textarea
                name="message"
                id="message"
                cols="30"
                rows="10"
              ></textarea>
            </form>
          </div>
        </div>
      </div>
    </div>
  </dialog>
</div>
